<h2>Featured Product:</h2>
<%= @featured_product.name %>
<div class="row">
  <div class="col-xs-12 col-md-4 col-md-offset-4">
    <%= image_tag(@featured_product.avatar, :class => "img-responsive") %>
  </div>
</div>
