<h2>Featured Product:</h2>
<%= @featured_product.name %>
<div class="row">
  <div class="col-xs-12 col-md-4 col-md-offset-4">
    <br/>
    <%= image_tag(@featured_product.image_url, :class => "img-responsive") %>
  </div>
</div>

<hr/>
<a class="btn btn-lg" href="products">View more products</a>
