<table>
  <tbody>
    <tr>
      <td>
        <h4 style="font-size:2em; font-weight:bold; color:#222;">You have received a new message sent to you through your rails app</h4>
        <hr/>
      </td>
    </tr>
    <tr>
      <td>
        <h4 style="font-size:1.75em; font-weight:bold; font-style:italic; color:#FF3D7F;">Message content ...</h4>
        <p><%= @message %></p>
      </td>
    </tr>
  </tbody>
</table>