// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*Variables*/
$primary-colour: #000;
$secondary-colour: #fff;
$highlight: #FF3D7F;

$main-text-colour: #666;
$main-font-family: sans-serif, serif;
$main-font-weight: 100;



body{
  background: $secondary-colour;
  padding-bottom:50px;
}

.top-content{
  margin-top:50px;
  
  h2{
    margin-top:0px;
  }
}



/*Forms*/
.form input[type="text"], .form textarea{
  width:100%;
  border-radius:5px;
  padding:10px;
}

.form textarea{
  min-height:150px;
}

input[type="file"].btn{
  display:block;
  width:100%;
  font-size:1em;
  text-align:center;
}

#search-form{
  border:solid 1px #333;
  border-radius:5px;
  padding:0px;
  margin-top:10px;
  width:auto;
  transition:border-color 600ms;
  -webkit-transition:border-color 600ms;
  
  .btn, .search-text{
    margin:0px;
    border:none;
    padding:6px 10px 6px 10px;
  }
  
  .search-text{
    border-radius:5px 0px 0px 5px;
    color: $highlight;
    background:#333;
    transition: background 600ms;
    -webkit-transition: background 600ms;
  }
  
  .search-text:focus{
    outline:none;
    background: $secondary-colour;
  }
  
  .btn{
    border-radius:0px 5px 5px 0px;
  }
}

#search-form:hover{
  border-color: $highlight;
}



/*Text*/
body *, .btn{
  color: $main-text-colour;
  font-family: $main-font-family;
  font-weight: $main-font-weight;
}

h1{
  color: $main-text-colour;
}

.logo, .logo-text, .page-title{
  font-family: 'Niconne', cursive;
}

h2{
  color: $primary-colour;
}

h2 .logo{
  font-size:1.25em;
}

h2 span, h2 .logo{
  color: $highlight;
}

.intro p{
  font-size:1.2em;
  line-height:1.5em;
}

.right{
  float:right;
}

.left{
  float:left;
}




/*Buttons*/
a.btn, .btn-lg, .btn-default, .btn span{
  color: $secondary-colour;
  transition: background 600ms, color 600ms;
  -webkit-transition: background 600ms, color 600ms;
}

a.btn, .btn-lg, .btn-default{
  background:#000;
  border: solid 1px #000;
}

.btn.btn-lg{
  padding:20px;
  font-size:1.5em;
  text-transform: uppercase;
}

.btn-lg:hover, a.btn:hover, .btn-default:hover, .btn:hover > span{
  background: transparent;
  color:$highlight;
}

.btn-lg:hover, a.btn:hover, .btn-default:hover{
  border-color:$highlight;
}
  



/*Navbar*/
#nav-container{
  width:100%;
  background: $primary-colour;
  padding:0px;
}

#nav-container .row:first-of-type {
  margin:0px;
  padding:0px;
}

nav.navbar-default{
  margin:0px;
  background:#000;
  border:none;
  border-radius:0px;
  padding:0px;
  
  a, .nav a,{
    color: $secondary-colour;
    transition: background 600ms, color 600ms;
    -webkit-transition: background 600ms, color 600ms;
  }

  .nav a:hover, a.navbar-brand span, .logo .logo-text{
    color: $highlight;
  }

  .logo .logo-text{
    font-size:1.2em;
  }
  
  #nav-brand{
    margin-left:0px;
    display:inline-block;
    padding:15px 0px 15px 0px;
  } 
}



/*Images*/
.product-thumb{
  margin-bottom:10px;
  
  .item:hover{
    background:#eee;
  }

  img{
    margin-bottom:10px;
  }
  
  .item{
    border:solid 1px #ddd; 
    border-radius:5px;
    padding:10px;
  }
  
  .more-info{
    width:100%;
  }
}



/*Carousel*/
.carousel{
  margin-bottom:20px;
}

.carousel-caption{
  background: $primary-colour;
  opacity:.8;
  border-radius:10px;
}

.carousel-control{
  transition:background 600ms;
  -webkit-transition:background 600ms;
}

.carousel-control:hover{
  background: transparent;
  span{
    color: $highlight;
    transition: color 600ms;
    -webkit-trasition: color 600ms;
  }
}



/*MEDIA QUERIES*/
@media (max-width: 767px){
  a.navbar-brand{
    padding-left:0px;
  }
  
  .navbar-toggle{
    margin-right:0px;
  }
}

@media (min-width: 768px){
  #nav-brand{
    padding-left:10px;
  }
  
//  .slide-up{
//    opacity:0;
//    animation-name: fadeInUp;
//    -webkit-animation-name: fadeInUp;
//    animation-duration: 1.5s;
//    -webkit-animation-duration: 1.5s;
//    animation-fill-mode: forwards;
//    -webkit-animation-fill-mode: forwards;
//    transition:background 600ms;
//    -webkit-transition:600ms;
//  }
//  
//  .slide-in-right{
//    opacity:0;
//    animation-name: fadeInRight;
//    -webkit-animation-name: fadeInRight;
//    animation-delay: 1.5s;
//    -webkit-animation-delay: 1.5s;
//    animation-duration: 2s;
//    -webkit-animation-duration: 2s;
//    animation-fill-mode: forwards;
//    -webkit-animation-fill-mode: forwards;
//  }
}


