// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*Variables*/
$primary-colour: #b55aa3;
$secondary-colour: #eee;

$main-font-family: sans-serif, serif;
$main-font-weight: 100;


body{
  background: $secondary-colour;
  padding-bottom:50px;
}

table{
  max-width:100%;
}


/*Text*/
body *{
  font-family: $main-font-family;
  font-weight: $main-font-weight;
}

h1{
  text-transform:uppercase;
}


/*Images*/
