<h1 class="page-title">Our Instruments</h1>
<hr/>
<div class="row">
  <%= render @products %>
</div>
<hr/>
<%= link_to new_product_path, :class => "btn slide-in-right" do %>
  <span class="glyphicon glyphicon-plus-sign"></span> Add new product
<% end %>
