<% cache(cache_key_for_products) do %>
  <h1 class="page-title">Our Instruments</h1>
  <hr/>
  <div class="row">
    <%= render @products %>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <%= will_paginate @products %>
    </div>
  </div>
  <hr/>
  <%= link_to new_product_path, :class => "btn slide-in-right" do %>
    <span class="glyphicon glyphicon-plus-sign"></span> Add new product
  <% end %>
<% end %>