<p id="notice"><%= notice %></p>

<h1 class="page-title">Our Instruments</h1>
<hr/>
<div class="row">
  <%= render @products %>
</div>
<hr/>
<%= link_to 'Add New Product', new_product_path, class: "btn btn-default" %>
